*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Orbitron";
    background-color: #000;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    color: yellow;
    text-shadow: 3px 3px 0px red, 6px 6px 0px blue;
    text-align: center;
    margin: 1rem 0;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid yellow;
    padding: 10px; 
    width: fit-content;
  }
  
canvas {
    background-color: black;
    display: block; 
}